@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/* Import Fonts
------------------------------------------------------------ */
/* Font Stacks */
.opensans {
  font-family: "Open Sans", "Trebuchet MS", Calibri, sans-serif;
}
.arial {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* Colors */
/* Neutrals */
/* Gradients */
/* Buttons */
.button:hover,
.button:visited,
.button a,
.button a:hover,
.button a:visited {
  color: white;
  text-decoration: none;
}
/* Clears */
.clearfix {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Import Fonts
------------------------------------------------------------ */
/* Font Stacks */
.opensans {
  font-family: "Raleway", "Open Sans", "Trebuchet MS", Calibri, sans-serif;
}
.arial {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* Colors */
/* Neutrals */
/* Defaults
------------------------------------------------------------ */
body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
select,
textarea {
  line-height: 1.5625;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Trebuchet MS", Calibri, sans-serif;
  font-family: "Raleway", "Open Sans", "Trebuchet MS", Calibri, sans-serif;
}
/* Hyperlinks
------------------------------------------------------------ */
a,
a:visited {
  color: #004c70;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Body
------------------------------------------------------------ */
body {
  background-color: #bad0dd;
  background-image: url("../img/pg-bkg.png");
  background-repeat: no-repeat;
  background-position: 760px 400px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}
body .wrap {
  width: 960px;
  margin: 0 auto;
}
::-moz-selection {
  background-color: #cccccc;
  color: #ffffff;
}
::selection {
  background-color: #cccccc;
  color: #ffffff;
}
/* Button
------------------------------------------------------------ */
input[type="submit"],
a.button {
  background: #004c70;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00070a), color-stop(1, #0091d6));
  background: -ms-linear-gradient(bottom, #00070a, #0091d6);
  background: -moz-linear-gradient(center bottom, #00070a 0%, #0091d6 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0.5px solid #00070a;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 6px 24px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #FFFFFF !important;
  font-size: 12px;
  font-weight: normal;
  text-shadow: 1px 1px 2px #000000;
  text-transform: uppercase;
  display: table;
  margin: 12px auto;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
.logo-container,
.loginContainer {
  padding: 1em auto;
}
.logo-container #logo,
.loginContainer #logo {
  margin: 2em auto;
  background: none;
  width: 200px;
  height: 200px;
  max-height: 200px;
  display: block;
}
.stripe.odd {
  background: #efefef;
}
.stripe.even {
  background: #ffffff;
}
.list .level-1 div {
  padding-left: 1em;
}
.list .level-2 div {
  padding-left: 2em;
}
.list .level-3 div {
  padding-left: 3em;
}
.list .level-4 div {
  padding-left: 4em;
}
.list .level-5 div {
  padding-left: 5em;
}
.columns-3 {
  -moz-column-width: 30%;
  -moz-column-count: 3;
  -moz-column-gap: 1%;
  -moz-column-rule-color: #ffffff;
  -moz-column-rule-style: solid;
  -moz-column-rule-width: 0px;
  -webkit-column-width: 30%;
  -webkit-column-count: 3;
  -webkit-column-gap: 1%;
  -webkit-column-rule-color: #ffffff;
  -webkit-column-rule-style: solid;
  -webkit-column-rule-width: 0px;
  column-width: 30%;
  column-count: 3;
  column-gap: 1%;
  column-rule-color: #ffffff;
  column-rule-style: solid;
  column-rule-width: 0px;
}
.columns-3 .level-0 {
  font-weight: bold;
  text-transform: uppercase;
}
.columns-3 .level-1 {
  padding-left: 30px;
}
.columns-3 .level-2 {
  padding-left: 40px;
}
.columns-3 .level-3 {
  padding-left: 50px;
}
.columns-3 .level-4 {
  padding-left: 60px;
}
.columns-3 .level-5 {
  padding-left: 70px;
}
.attachment-view {
  display: inline-block;
  position: relative;
}
.attachment-view .attachment-delete {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  cursor: pointer;
}
.attachment-view img {
  max-width: 300px;
  max-height: 300px;
}
footer {
  margin: 30px;
}
/*Modal Forms */
.modal-backdrop {
  opacity: 0.4;
}
.modal-body .wrap {
  min-width: auto;
  width: auto;
}
form.popupform {
  width: 500px;
}
form.popupform input,
form.popupform select,
form.popupform textarea {
  display: block;
}
.accordion-group {
  border-color: #004c70;
}
